output
.idea
.settings
.gradle
.classpath
.project
build
bin
desktopRuntime/eaglercraft.jar
desktopRuntime/_eagstorage*
desktopRuntime/eclipseProject/bin*
desktopRuntime/hs_err_*
desktopRuntime/options.txt
desktopRuntime/_eagstorage.g.dat
desktopRuntime/filesystem/*
desktopRuntime/crash-reports/*
desktopRuntime/downloads/*
desktopRuntime/screenshots/*